@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Gruppo&family=Julee&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercas;
    letter-spacing: 1px;
    color: black;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: whitesmoke;
    padding: 0 1rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: solid 1px black;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

#menu>li {
    margin-bottom: 1em;
}

nav {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    overflow: auto;
    box-shadow: -8px 20px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    right: 0%;
    padding: 1rem 1rem 0;
    border-bottom: 0.1px solid black;
    border-left: 0.1px solid black;
    border-top: 0.1px solid black;


}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 1.7rem;
}



.active {
    text-transform: uppercase;
    font-weight: bold;
}

main {
    background-color: aquamarine;
    flex: 1 0 auto;
}

footer {
    background-color: aliceblue;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        border: none;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 1rem;

    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;

    }

    main {
        margin-top: 76px;
    }
}