@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
}
header {
    background-color: blanchedalmond;

}

main {
    background-color: aquamarine;
    flex: 1 0 auto;
}

footer {
    background-color: aliceblue;
}